.stories{
    width: 100% !important;
    /* margin: 10%; */
    /* color: blue; */
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: rgb(71, 70, 67); */
    /* padding: 20px; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 400px;
    /* margin-left: 10%; */
    
}