@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background-image: url("images/andy-holmes-4iapyjvm714-unsplash.jpg");
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  /* background-color: #f8f8f8; */
  width: 100%;
  /*background-size: cover;*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left;           /* optional, center the image */

  /* background: #1C8EF9 !important; */
  /* min-height: 100vh; */
  display: flex;
  font-weight: 400;
  /* font-family: 'Fira Sans', sans-serif; */
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  /* font-family: 'Fira Sans', sans-serif; */
}

body, html, .App, #root{
  width: 100%;
  height: 100%;
}
.auth-wrapper {
  width: 100%;
  height: 100%; 
}

.navbar-light {
  background-color: #f8f8f8;
  
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}

.auth-wrapper {
  display: block;
  justify-content: space-evenly;
  flex-direction: column;
  /* text-align: left; */
} 

.auth-inner {
  width: 100%;
  margin: auto;
  /* background:transparent; */
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  opacity: 0.8;

}
.lela{
  color: #f8f8f8;
}
.login_c{
  margin-bottom: 5px;
  color: #000 !important;
}

.auth-wrapper .form-control:focus {
  /* border-color: #167bff; */
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-input:checked{
  background-color:rgb(82, 77, 77) !important;
  color: #000 !important;
}

.custom-control-label {
  font-weight: 400;
}


.wrapper {
  display: block;
}

/* -------SideBar------ */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -255px;
  z-index: 999;
  background: #333;
  color: #fff;
  transition: all .3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
}

.sidebar.active {
  left: 0;
}


.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}
/* -----end Sidebar */

/* .....start Menu Button */

open-menu {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 997;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

/* Style for all buttons with the class btn-customized */

a.btn-customized {
  margin-left: 5px;
  margin-right: 5px;
  padding: .75rem 1.5rem;
  background: #f35b3f;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
}

a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #cd533d; /* for browsers that don't recognize rgba */
  background: rgba(243, 91, 63, 0.7);
  border: 0;
  color: #fff;
  box-shadow: none;
}


.dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s;
  background: #444;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
  background: #555;
  color: #fff;
}

/*  -----end Menu Button */

/* Sidebar Logo */
.sidebar .logo {
  padding: 40px 20px;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar .logo a {
  display: inline-block;
  width: 172px;
  height: 34px;
  background: url(../src/images/man.jpg) left top no-repeat;
  border: 0;
  text-indent: -999999px;
}


.sidebar ul.menu-elements {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
  outline: 0;
  background: #555;
  color: #fff;
}

.sidebar ul li a i {
  margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: #444;
  color: #fff;
}

.sidebar ul ul a {
  background: #444;
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  background: #555;
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar .dark-light-buttons {
  padding: 10px 20px 30px 20px;
  text-align: center;
}

a.btn-customized-4 {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 3px;
  padding: 0;
  background: #444;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
  text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
  background: #222;
}

a.btn-customized-4.btn-customized-light {
  background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}


.sidebar .to-top {
  padding: 20px;
  text-align: center;
}

a.btn-customized-3 {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .75rem 1.5rem;
  background: #444;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3 i {
  margin-right: 5px;
}

/*  */
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #313030;
  margin: 0;
}
.form-control{
  background-color: rgb(210, 221, 224) !important;
}
.forgot-password a {
  color: #1196ca;
}

.form-group{
  margin-top: 20px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #11aef7 !important;
}

.lelaa{
  margin-top: 30px;
}

.errorText{
  color: red;
}